# Week 1
__Jupyter Notebook System__

In [1]:
x= 5 
print(x)

5

In [ ]:
print(x+1)

# The Python Programmming Language: Functions

In [3]:
x= 1
y=2 
x+y

3

In [4]:
x

1

In [6]:
def add_numbers(x, y):
    return x+ y 

add_numbers(1, 2)

3

In [8]:
def add_numbers(x, y, z=None):
    if ( z==None):
        return x+ y 
    else: 
        return x+ y+ z 
print(add_numbers(1, 2)) 
print(add_numbers(1, 2,3))

3
6

In [12]:
def add_numbers(x, y,z=None, flag= False):
    if(flag):
        print('Flag is true!') 
    if (z==None): 
        return x+y 
    else: 
        return x+y+z
print(add_numbers(1,2, flag = True ))

Flag is true!
3

# The Python Programmming Language: Types and Sequences

In [13]:
type('This is a string')

str

In [14]:
type(None)

NoneType

In [15]:
type(1)

int

In [16]:
type(1.0)

float

In [17]:
type(add_numbers)

function

In [18]:
type(add_numbers)

function

In [22]:
x=(1, 'a', 2, 'b') 
type(x)

tuple

In [25]:
x=[1, 'a', 2, 'b']
type(x)

list

In [26]:
for item in x: 
    print (item)

1
a
2
b

In [27]:
i = 0
while( i != len(x) ): 
    print(x[i]) 
    i = i+1

1
a
2
b

In [28]:
[1] * 3

[1, 1, 1]

In [29]:
1 in [1, 2, 4]

True

In [38]:
x = 'This is a string' 

print(x[0])
print(x[0:4])
print(x[0:6])
print(x[-6])
print(x[-5:-2])
print(x[:6])
print(x[6:])

T
This
This i
s
tri
This i
s a string

In [40]:
firstname= 'Glyphine Brooks Arthur Evermore' .split(' ')[0]
lastname= 'Glyphine Brooks Arthur Evermore' .split(' ')[-1]

print(firstname + lastname)

GlyphineEvermore

In [41]:
'Chris' + str(2)

'Chris2'

In [42]:
x= {'Mashed Potato' : 'potato@gmail.com', 'Tiramisu Cake' : 'cake@gmail.com'} 

x['Mashed Potato']

'potato@gmail.com'

In [43]:
for name in x:
    print(x[name])

potato@gmail.com
cake@gmail.com

In [44]:
for name,email in x.items(): 
    print(name)
    print(email)

Mashed Potato
potato@gmail.com
Tiramisu Cake
cake@gmail.com

In [45]:
x = {'Christopher', 'Brooks', 'book@gmail.com' } 

fname, lname, mail = x

In [46]:
fname

'Christopher'

In [47]:
lname

'Brooks'

# Python Programming Language: More on Strings

In [48]:
print ('Chris' + str(2))

Chris2

In [50]:
sales_record= {'price' : 3.24,
               'num_items' : 4, 
               'person' : 'Chris' } 
sales_statement= '{} brought {} item/s at a price of {} each for a total of {}' 

print(sales_statement.format(sales_record['person'], 
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items'] * sales_record['price'] ))

Chris brought 4 item/s at a price of 3.24 each for a total of 12.96

# Data Files and Summary Statistics

In [ ]:
import csv

%precision 2